.linkMovvie {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-top: 15px;
  padding-left: 45px;
  list-style: inside;
}

.section {
  padding: 45px 25px;
}
